@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap");

/* Root Styles */
:root {
  --primary: hsl(0, 0%, 8%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(0, 0%, 41%);

  --paragraph: 17px;
  --paragraph-md: 15px;
  --header: 4rem;
  --header-md: 2.5rem;
  --font-500: 500;
  --font-700: 700;
  --font-main: "Epilogue", sans-serif;

  --space-lg: 100px;
  --space-md: 30px;
  --space-xs: 8px;

  --radius: 8px;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--radius);
  font-family: inherit;
}
button:hover {
  opacity: 0.8;
}

body {
  background-color: var(--background);
  font-family: var(--font-main);
}

header {
  width: 100%;
  background-color: var(--background);
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 15px 0;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.lists {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  list-style: none;
  color: var(--text);
  font-size: 14px;
  font-weight: var(--font-500);
}

.lists li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.lists li a:hover {
  color: black;
}

.navigation-left {
  display: flex;
  gap: var(--space-md);
}

.navigation-right {
  display: flex;
  gap: var(--space-xs);
}

.navigation-right button:first-child {
  border: none;
}
.navigation-right button:last-child {
  border: 2px solid black;
}

/*Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  width: 80%;
  margin: 50px auto;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.hero-left h1 {
  font-size: var(--header);
}
.hero-left p {
  font-size: var(--paragraph);
  font-weight: var(--font-500);
  color: var(--text);
  line-height: 1.4;
}
.hero-left button {
  width: fit-content;
  background-color: var(--primary);
  color: white;
  border: none;
}

.clients {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

.hero-right {
  width: 40%;
  max-width: 500px;
}

.hero-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


@media (max-width: 768px) {
  .lists {
    display: none;
  }

  .hero-section {
    flex-direction: column-reverse;
    width: 90%;
    gap: var(--space-md);
  }

  .hero-left {
    width: 100%;
  }
  .hero-left h1 {
    font-size: var(--header-md);
  }
  .hero-left p {
    font-size: var(--paragraph-md);
  }
  .hero-right {
    width: 100%;
  }

  .hero-right img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .clients {
    margin-top: var(--space-md);
  }
}